.tool_menu li{
	float: left;
	background-color: #eee;
	padding: 8px;
}

.tool_menu li a{
	color: #626262;
}

#student_div .glyphicon{
	top: 2px;
}

#student_div button{
	height: 32px;
}

.sidType{
	height: 25px;
	border-radius: 5px;
}
