<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookmanage.dao.StudentDao">
	<resultMap type = "StudentEntity" id = "StudentResultMap">
		<id property = "sid" column = "sid" />
		<result property = "username" column = "username" />
		<result property = "pass" column = "spass" />
		<result property = "tel" column = "tel" />
		<result property = "borrow_num" column = "borrow_num" />
	</resultMap>
	
	<select id="studetnInfo" parameterType="StudentEntity" resultMap="StudentResultMap">
		select * from student
		<where>  
	        <if test="sid!=null and sid!='' ">  
	            sid LIKE CONCAT(CONCAT('%', #{sid}),'%') 
	        </if>  
	    </where>
	</select>
	
	<update id="updatePsw" parameterType="StudentEntity">
		 update student set spass = '123456' where sid=#{sid}
	</update>
	
	<delete id="deleteStu"  >  
    	delete from student where sid in  
      <foreach collection="list" item = "sid" open="(" separator="," close=")">  
            #{sid}  
	  </foreach>    
	</delete> 
	
</mapper>